<h1 class="page-header">Planning Dashboard</h1>
<div class="row">
    <div class="col-md-6">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                My tickets
            </div>
            <div class="panel-body">
                <!--             	<ul>
            		<li ng-repeat="ticket in tickets | filter:{ownerId: userPerson.$id}">
						{{ticket|json}}
            		</li>
            	</ul> -->
                <ul class="chat">
                    <li ng-repeat="ticket in tickets | filter:{ownerId: userPerson.$id}" class="clearfix" ng-class="{right: $odd, left: $even}">
                        <span class="chat-img" ng-class="{'pull-right': $odd, 'pull-left': $even}">
                        	<img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font" ng-class="{'pull-right': $odd}">Jack Sparrow: {{ticket.tickettitle}}</strong>
                                <small class="text-muted" ng-class="{'pull-right': $even}">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                            </div>
                            <p>
                                {{ticket.ticketdesc}}
                            </p>
                        </div>
                    </li>
<!--                     <li ng-repeat="ticket in tickets | filter:{ownerId: userPerson.$id}" class="clearfix left">
                        <span class="chat-img pull-left">
                        	<img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Jack Sparrow: {{ticket.tickettitle}}</strong>
                                <small class="text-muted pull-right">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                            </div>
                            <p>
                                {{ticket.ticketdesc}}
                            </p>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>
