<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search..." disabled>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" disabled><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="#" ui-sref="planning.dashboard"><i class="fa fa-dashboard fa-fw"></i> My IP Tickets</a>
            </li>
            <li ng-show="userPerson.userId==='simplelogin:5'">
                <a href="#" ui-sref="planning.tickets"><i class="fa fa-ticket fa-fw"></i> All IP Tickets</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
<div id="page-wrapper" ui-view=""></div>