<h1 class="page-header">Companies</h1>
<div class="row">
    <div class="col-xs-12">
        <accordion>
            <accordion-group is-open="status.open">
                <accordion-heading>
                    Add a company <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                <form ng-submit="add()">
                    <div class="form-group">
                        <label>Company name</label>
                        <input type="text" ng-model="newCompany.companyName" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>
            </accordion-group>
        </accordion>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
<table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th st-sort="getters.companyName">Company name</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(id,company) in companies">
        <td>{{company.companyName}}</td>
        <td><a href="" ng-click="remove(id)"><i class="fa fa-trash-o"></i></a></td>
    </tr>
    </tbody>
</table>
    </div>
</div>
