<h1 class="page-header">{{asset.assetTitle}}</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Patents</h4>
                <div class="pull-right" ng-hide="newPatent.show">
                    <button class="btn btn-primary btn-sm" ng-click="newPatent.show=true"><i class="fa fa-plus"></i> Add patent</button>
                </div>
                <div class="pull-right" ng-show="newPatent.show && asset.patents.length>0">
                    <button class="btn btn-success btn-sm" ng-click="newPatent.show=false"><i class="fa fa-times"></i> Cancel</button>
                </div>
            </div>
            <div class="panel-body">
                <div ng-show="newPatent.show">
                    <h4>Add patent by application number</h4>
                    <form name="addPatentForm" ng-submit="getNewPatent()" novalidate="novalidate">
                        <div class="input-group">
                            <input type="text" ng-model="newPatent.applicationNumber" class="form-control" placeholder="Application number" aria-describedby="sizing-addon3" required unique>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                    <div ng-show="newPatent.patent">
                        <hr/>
                        <h3>{{newPatent.patent['bibliographic-data']['invention-title'] | lang:'en' }}</h3>
                        <p ng-repeat="p in newPatent.patent['abstract'] | lang:'en'">{{p}}</p>
                        <div ng-show="newPatent.success">
                            <hr/>
                            <p>Also published as: <span class="label label-default" style="margin-right: .5em" ng-repeat="equivalent in newPatent.equivalents">{{equivalent['publication-reference']['document-id']['doc-number'].$}}</span></p>
                            <hr/>
                            <button class="btn btn-primary" type="button" ng-click="addPatent()">Add</button>
                        </div>
                        <div ng-hide="newPatent.success">
                            <div class="alert alert-danger" role="alert">Patent not found.</div>
                        </div>
                    </div>
                </div>
                <div ng-hide="newPatent.show">
                    <tabset>
                        <tab ng-repeat="p in asset.patents" heading="{{p.applicationNumber}}" select="loadPatent(p.applicationNumber)">
                            <button class="pull-right btn btn-danger" type="button" ng-click="removePatent(p)"><i class="fa fa-chain-broken"></i> Remove patent link</button>
                            <h4>{{p.inventionTitle | lowercase }}</h4>
                            <div class="row" ng-show="tabPatent.success">
                                <div class="col-md-8">
                                    <p ng-repeat="p in tabPatent.patent['abstract'] | lang:'en'">{{p}}</p>
                                    <p>Applicants: <span class="label label-default" style="margin-right: .5em" ng-repeat="applicant in tabPatent.patent['bibliographic-data']['parties']['applicants']['applicant'] | filter:{'@data-format': 'epodoc'}">{{applicant['applicant-name'].name.$}}</span></p>
                                    <p>Inventors: <span class="label label-primary" style="margin-right: .5em" ng-repeat="inventor in tabPatent.patent['bibliographic-data']['parties']['inventors']['inventor'] | filter:{'@data-format': 'epodoc'}">{{inventor['inventor-name'].name.$}}</span></p>
                                </div>
                                <div class="col-md-4">
                                    <h4>CPC codes</h4>
                                    <p ng-repeat="cpc in tabPatent.patent['bibliographic-data']['patent-classifications']['patent-classification']">
                                    <a href="http://worldwide.espacenet.com/classification?locale=en_EP#!/CPC={{cpc.section.$}}{{cpc.class.$}}{{cpc.subclass.$}}{{cpc['main-group'].$}}/{{cpc.subgroup.$}}" target="_blank">{{cpc.section.$}}{{cpc.class.$}}{{cpc.subclass.$}}{{cpc['main-group'].$}}/{{cpc.subgroup.$}}</a>
                                    </p>
                                    <!-- | filter:{['classification-scheme'].@scheme: 'CPC'} -->

<!-- G08G1/0112 -->
                                </div>
                            </div>
                            <p ng-hide="tabPatent.success">Fetching patent information from Espacenet...</p>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{asset.mainType}} tasks
            </div>
            <div class="panel-body">
                <ul class="timeline" ng-show="asset.tasks">
                    <li ng-repeat="task in asset.tasks | openTasks:true" ng-class="{'timeline-inverted': $odd}">
                        <div class="timeline-badge {{task.badge}}" ng-show="task.badge"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading clearfix">
                                <h4 class="timeline-title pull-left">{{task.taskTitle}}</h4>
                                <button type="button" ng-click="doneTask(task.$id)" class="btn btn-link btn-xs pull-right" tooltip="Mark Completed"><i class="fa fa-check"></i></a>
                                    <button type="button" ng-click="editTask(task.$id)" class="btn btn-link btn-xs pull-right" tooltip="Edit task"><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="timeline-body">
                                <p>{{task.description}}</p>
                                <p>{{task.endDate|date}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <p ng-hide="asset.tasks">There are no tasks for this asset.</p>
            </div>
            <div class="panel-footer">
                <h2>Add task</h2>
                <form name="newTaskForm" ng-submit="addTask()" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Title</span>
                                <input type="text" ng-model="newTask.taskTitle" class="form-control" placeholder="New task title" aria-describedby="sizing-addon3" required unique>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" ng-model="newTask.description" id="textarea" rows="8" placeholder="Enter a short description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Status</span>
                                <select class="form-control" ng-model="newTask.status" ng-options="status for status in newTaskOptions.statusList" required>
                                    <option value=''>Select status</option>
                                </select>
                            </div>
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Owner</span>
                                <input type="text" ng-model="newTask.owner" typeahead="person as [person.lastName+', '+person.firstName] for person in people | filter:$viewValue | limitTo:8" class="form-control">
                            </div>
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Start date</span>
                                <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="newTask.startDate" is-open="startOpened" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </div>
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">End date</span>
                                <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="newTask.endDate" is-open="endOpened" ng-required="false" close-text="Close" />
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                            </div>
                            <!--                             <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Projects</span>
                                <input type="text" ng-model="newTask.project" typeahead="project as project.projectTitle for project in projects | filter:$viewValue | limitTo:8" class="form-control">
                            </div>
                            <ul>
                                <li ng-repeat="project in newTask.projects">
                                    {{project.projectTitle}}<a class="pull-right" href="" ng-click="removeProject(project)" ng-class="{highlight: project.highlight===true}"><i class="fa fa-minus-square"></i></a>
                                </li>
                            </ul> -->
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" ng-disabled="newTaskForm.$invalid">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                Countries
            </div>
            <div class="panel-body">
                <datamap options="map.options" data="map.data" colors="map.colors" type="{{ map.type }}" on-click="updateActiveGeography" responsive="true">
                </datamap>
            </div>
        </div>
    </div>
</div>
