<h1 class="page-header">{{asset.assetTitle}}</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Patent
            </div>
            <div class="panel-body">
                <form name="addPatentForm" ng-submit="addPatent()" novalidate="novalidate">
                    <input type="text" ng-model="newPatent.applicationNumber" class="form-control" placeholder="Application number" aria-describedby="sizing-addon3" required unique>
                </form>
                <hr/>
                {{patent.world-patent-data.exchange-documents.exchange-document.abstract[1].p}}
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{asset.mainType}}
            </div>
            <div class="panel-body">
                <ul class="timeline">
                    <li ng-repeat="task in tasks" ng-class="{timeline-inverted: $even}">
                        <div class="timeline-badge {{task.status}}"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{task.taskTitle}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p>{{task.description}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <h2>Add task</h2>
                <form name="newTaskForm" ng-submit="addTask()" novalidate="novalidate">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Title</span>
                                <input type="text" ng-model="newTask.taskTitle" class="form-control" placeholder="New asset title" aria-describedby="sizing-addon3" required unique>
                            </div>
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Status</span>
                                <select class="form-control" ng-model="newTask.status" ng-options="status for status in options.statusList" required>
                                    <option value=''>Select status</option>
                                </select>
                            </div>
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Owner</span>
                                <input type="text" ng-model="newTask.owner" typeahead="person as [person.lastName+', '+person.firstName] for person in people | filter:$viewValue | limitTo:8" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Content</span>
                                <select class="form-control" ng-model="newTask.subType" ng-disabled="!newTask.mainType || newTask.mainType.subTypes.length<1" ng-options="subType for subType in newTask.mainType.subTypes">
                                    <option value=''>Select content</option>
                                </select>
                            </div>
                            <div class="form-group input-group input-group-sm">
                                <span class="input-group-addon" id="sizing-addon3">Projects</span>
                                <input type="text" ng-model="newTask.project" typeahead="project as project.projectTitle for project in projects | filter:$viewValue | limitTo:8" class="form-control">
                            </div>
                            <ul>
                                <li ng-repeat="project in newTask.projects">
                                    {{project.projectTitle}}<a class="pull-right" href="" ng-click="removeProject(project)" ng-class="{highlight: project.highlight===true}"><i class="fa fa-minus-square"></i></a>
                                </li>
                            </ul>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" ng-disabled="newTaskForm.$invalid">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                Countries
            </div>
            <div class="panel-body">
                <datamap options="map.options" data="map.data" colors="map.colors" type="{{ map.type }}" on-click="updateActiveGeography" responsive="true">
                </datamap>
            </div>
        </div>
    </div>
</div>
