<h1 class="page-header">Assets Dashboard</h1>

<div class="row">
	<div class="col-lg-8">
		<h2>Company assets overview</h2>
	</div>
	<div class="col-lg-4">
		<h2>Enter a new asset</h2>
        <accordion>
            <accordion-group is-open="newAssetAccordion.open">
                <accordion-heading>
                    Add a company <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': newAssetAccordion.open, 'glyphicon-chevron-right': !newAssetAccordion.open}"></i>
                </accordion-heading>
                <form ng-submit="add()">
                    <div class="form-group">
                        <label>Asset title</label>
                        <input type="text" ng-model="newAsset.title" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>
            </accordion-group>
        </accordion>
	</div>
</div>